In [10]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
TINKOFF_DATA_PATH = "./data/tinkoff/"
ANONYMIZED_DATA = os.path.join(TINKOFF_DATA_PATH, "tinkoff_raw_data_anonymized.csv")

In [7]:
df = pd.read_csv(ANONYMIZED_DATA, index_col='party_rk')

In [8]:
df.sample(10)

,financial_account_type_cd,transaction_type_desc,merchant_type,merchant_group_rk,category,transaction_dttm,transaction_amt
party_rk,,,,,,,
6605,2,1,15,94,11,2019-09-02,179
9691,2,1,2,90,2,2020-02-14,490
7462,2,3,13,0,7,2019-05-26,417
34436,1,1,5,0,3,2019-03-17,156
40870,2,3,13,0,7,2019-09-22,7760
6654,1,3,13,0,7,2019-04-05,618
13476,1,1,5,5,3,2019-08-31,25
5193,2,1,5,4,3,2019-08-06,384
34805,2,1,23,23,9,2019-08-03,158
17820,2,2,8,85,7,2019-08-14,164

In [ ]:
num_cols = []

In [14]:
df['transaction_dttm'].value_counts()

2019-11-12    92692
2019-09-23    85179
2019-12-23    79309
2019-10-21    78800
2020-02-25    78495
              ...
2019-07-14     8187
2019-08-25     8051
2019-08-04     8034
2019-07-28     7768
2019-01-07     6929
Name: transaction_dttm, Length: 425, dtype: int64